# HW3

In [30]:
#to compare the 2 methods...
compare=result_75['top_category'].value_counts()
compare=pd.DataFrame(compare)
compare.columns=[['counts result 75']]
compare

                counts result 75
(top_category,)
G                           9814
P                            334
X                            329
R                            133

In [31]:
#calculate the difference url counts in each category
compare['counts result 25']=result_25['top_category'].value_counts()

#the simple sum/minus function wont work if we dont add .values to the columns
compare['difference']=abs(compare['counts result 75'].values-compare['counts result 25'].values)
compare.reset_index()

  top_category counts result 75 counts result 25 difference
0            G             9814             9854         40
1            P              334              291         43
2            X              329              437        108
3            R              133              118         15

In [33]:
#try another way, still wont work... but at least it give number 0's instead of nan's

compare_concat=pd.concat([result_75['top_category'].value_counts(), result_75['top_category'].value_counts()], axis=1)
compare_concat.columns=['counts result 75', 'counts result 25']
compare_concat['difference']=abs(compare_concat['counts result 75']-compare_concat['counts result 25'])
compare_concat

                 counts result 75  counts result 25  difference
(top_category,)
G                            9814              9814           0
P                             334               334           0
X                             329               329           0
R                             133               133           0

**The result 25 predicted 40 more urls in category x, which is biggest difference in numbers between the 2 different models

**The Result 25 predicted 15 less urls in catetory R, which is the smallest difference in numbers between the 2 different models

**The G,P rated urls, the difference is only 40 and 43, respectively, however, because the overall more urls that are rated G, the fraction is much smaller.

##What if multiple category are tied
##How to you access the index/columns