In [54]:
import numpy as np
import pandas as pd

# Qustion 1

In [3]:
'''
let x1,x2,x3,x4 be the loan amount for 

First mortgage
Second mortgage
Home improvement
Personal overdraft

respectively
'''

In [22]:
A=np.zeros((4,4))
A[0,:] = [1,1,1,1]
A[1,:] = [0.45,-0.55,0,0]
A[2,:] = [0,1,0,0]
A[3,:] = [0.14,0.2,0.2,0.1]
A

array([[ 1.  ,  1.  ,  1.  ,  1.  ],
       [ 0.45, -0.55,  0.  ,  0.  ],
       [ 0.  ,  1.  ,  0.  ,  0.  ],
       [ 0.14,  0.2 ,  0.2 ,  0.1 ]])

In [23]:
b=np.array([1,0,0.25,0.15])
b

array([1.  , 0.  , 0.25, 0.15])

In [34]:
interest_frac=np.linalg.solve(A,b)
interest_amt=np.round(250*interest_frac,2)
interest_amt

array([76.39, 62.5 , 31.94, 79.17])

# Question 2

Rankings are ubiquitous. You may have heard of Googleâ€™s PageRank and IMDB movie ratings. The backbone of these systems is Linear Algebra. We want to give you to taste of building your own ranking system to rank sports teams.

In a football league one is interested in modeling the ratings of teams based on the margin of victory and not just the outcomes, win/loss/draw. Consider the following data for five teams playing in such a league

In [5]:
import numpy as np

In [6]:
M=np.zeros((10,5))
row = 0
for i in range(5):
    for j in range (i+1, 5):
        M[row, i] = 1
        M[row, j] = -1
        row = row + 1
        
M

array([[ 1., -1.,  0.,  0.,  0.],
       [ 1.,  0., -1.,  0.,  0.],
       [ 1.,  0.,  0., -1.,  0.],
       [ 1.,  0.,  0.,  0., -1.],
       [ 0.,  1., -1.,  0.,  0.],
       [ 0.,  1.,  0., -1.,  0.],
       [ 0.,  1.,  0.,  0., -1.],
       [ 0.,  0.,  1., -1.,  0.],
       [ 0.,  0.,  1.,  0., -1.],
       [ 0.,  0.,  0.,  1., -1.]])

In [8]:
#Team score matrix

team_score=np.zeros((5,5))
team_score[0,:] = [0,7,21,7,0]
team_score[1,:] = [52,0,34,25,27]
team_score[2,:] = [24,16,0,7,3]
team_score[3,:] = [38,17,30,0,14]
team_score[4,:] = [45,7,30,52,0]
s=team_score.sum(axis=1)
s

array([ 35., 138.,  50.,  99., 134.])

In [9]:
#Team opponent score matrix

team_o_score=np.zeros((5,5))

for i in range(5):
    for j in range(5):
        team_o_score[i,j] = team_score[j,i]

team_o_score

array([[ 0., 52., 24., 38., 45.],
       [ 7.,  0., 16., 17.,  7.],
       [21., 34.,  0., 30., 30.],
       [ 7., 25.,  7.,  0., 52.],
       [ 0., 27.,  3., 14.,  0.]])

In [25]:
#Difference in score

S=team_score-team_o_score


X=np.zeros((10,5))
y=np.zeros((10,1))
row = 0
for i in range(5):
    for j in range (i+1, 5):
        X[row, i] = 1
        X[row, j] = -1
        y[row:] = S[i, j]
        row = row + 1
        
y

array([[-45.],
       [ -3.],
       [-31.],
       [-45.],
       [ 18.],
       [  8.],
       [ 20.],
       [-23.],
       [-27.],
       [-38.]])

In [30]:
M=X.T@X
M

array([[ 4., -1., -1., -1., -1.],
       [-1.,  4., -1., -1., -1.],
       [-1., -1.,  4., -1., -1.],
       [-1., -1., -1.,  4., -1.],
       [-1., -1., -1., -1.,  4.]])

In [27]:
y=X.T@y

In [38]:
for i in range(5):
    M[4,i]=1
M

array([[ 4., -1., -1., -1., -1.],
       [-1.,  4., -1., -1., -1.],
       [-1., -1.,  4., -1., -1.],
       [-1., -1., -1.,  4., -1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [41]:
y[4,]=0
y

array([[-124.],
       [  91.],
       [ -65.],
       [   8.],
       [   0.]])

In [42]:
r=np.linalg.inv(M)@y

In [45]:
r

array([[-24.8],
       [ 18.2],
       [-13. ],
       [  1.6],
       [ 18. ]])

# Question3

In [52]:
A=np.zeros((4,4))

for i in range(4):
    for j in range(4):
        if j>i:
            A[i,j]=(i+1)/(j+1)
        else:
            A[i,j]=(j+1)/(i+1)
            
A

array([[1.        , 0.5       , 0.33333333, 0.25      ],
       [0.5       , 1.        , 0.66666667, 0.5       ],
       [0.33333333, 0.66666667, 1.        , 0.75      ],
       [0.25      , 0.5       , 0.75      , 1.        ]])

In [77]:
A=np.zeros((20,20))

for i in range(20):
    for j in range(20):
        if j>i:
            A[i,j]=(i+1)/(j+1)
        else:
            A[i,j]=(j+1)/(i+1)
            
B=pd.DataFrame(A)

# Question 4

In [2]:
A=np.zeros((20,20))

for i in range(20):
    for j in range(20):
        if j>i:
            A[i,j]=(i+1)/(j+1)
        else:
            A[i,j]=(j+1)/(i+1)

NameError: name 'np' is not defined

In [78]:
A

array([[1.        , 0.5       , 0.33333333, 0.25      , 0.2       ,
        0.16666667, 0.14285714, 0.125     , 0.11111111, 0.1       ,
        0.09090909, 0.08333333, 0.07692308, 0.07142857, 0.06666667,
        0.0625    , 0.05882353, 0.05555556, 0.05263158, 0.05      ],
       [0.5       , 1.        , 0.66666667, 0.5       , 0.4       ,
        0.33333333, 0.28571429, 0.25      , 0.22222222, 0.2       ,
        0.18181818, 0.16666667, 0.15384615, 0.14285714, 0.13333333,
        0.125     , 0.11764706, 0.11111111, 0.10526316, 0.1       ],
       [0.33333333, 0.66666667, 1.        , 0.75      , 0.6       ,
        0.5       , 0.42857143, 0.375     , 0.33333333, 0.3       ,
        0.27272727, 0.25      , 0.23076923, 0.21428571, 0.2       ,
        0.1875    , 0.17647059, 0.16666667, 0.15789474, 0.15      ],
       [0.25      , 0.5       , 0.75      , 1.        , 0.8       ,
        0.66666667, 0.57142857, 0.5       , 0.44444444, 0.4       ,
        0.36363636, 0.33333333, 0.30769231, 0.28571429, 0.26666667,
        0.25      , 0.23529412, 0.22222222, 0.21052632, 0.2       ],
       [0.2       , 0.4       , 0.6       , 0.8       , 1.        ,
        0.83333333, 0.71428571, 0.625     , 0.55555556, 0.5       ,
        0.45454545, 0.41666667, 0.38461538, 0.35714286, 0.33333333,
        0.3125    , 0.29411765, 0.27777778, 0.26315789, 0.25      ],
       [0.16666667, 0.33333333, 0.5       , 0.66666667, 0.83333333,
        1.        , 0.85714286, 0.75      , 0.66666667, 0.6       ,
        0.54545455, 0.5       , 0.46153846, 0.42857143, 0.4       ,
        0.375     , 0.35294118, 0.33333333, 0.31578947, 0.3       ],
       [0.14285714, 0.28571429, 0.42857143, 0.57142857, 0.71428571,
        0.85714286, 1.        , 0.875     , 0.77777778, 0.7       ,
        0.63636364, 0.58333333, 0.53846154, 0.5       , 0.46666667,
        0.4375    , 0.41176471, 0.38888889, 0.36842105, 0.35      ],
       [0.125     , 0.25      , 0.375     , 0.5       , 0.625     ,
        0.75      , 0.875     , 1.        , 0.88888889, 0.8       ,
        0.72727273, 0.66666667, 0.61538462, 0.57142857, 0.53333333,
        0.5       , 0.47058824, 0.44444444, 0.42105263, 0.4       ],
       [0.11111111, 0.22222222, 0.33333333, 0.44444444, 0.55555556,
        0.66666667, 0.77777778, 0.88888889, 1.        , 0.9       ,
        0.81818182, 0.75      , 0.69230769, 0.64285714, 0.6       ,
        0.5625    , 0.52941176, 0.5       , 0.47368421, 0.45      ],
       [0.1       , 0.2       , 0.3       , 0.4       , 0.5       ,
        0.6       , 0.7       , 0.8       , 0.9       , 1.        ,
        0.90909091, 0.83333333, 0.76923077, 0.71428571, 0.66666667,
        0.625     , 0.58823529, 0.55555556, 0.52631579, 0.5       ],
       [0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
        0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091,
        1.        , 0.91666667, 0.84615385, 0.78571429, 0.73333333,
        0.6875    , 0.64705882, 0.61111111, 0.57894737, 0.55      ],
       [0.08333333, 0.16666667, 0.25      , 0.33333333, 0.41666667,
        0.5       , 0.58333333, 0.66666667, 0.75      , 0.83333333,
        0.91666667, 1.        , 0.92307692, 0.85714286, 0.8       ,
        0.75      , 0.70588235, 0.66666667, 0.63157895, 0.6       ],
       [0.07692308, 0.15384615, 0.23076923, 0.30769231, 0.38461538,
        0.46153846, 0.53846154, 0.61538462, 0.69230769, 0.76923077,
        0.84615385, 0.92307692, 1.        , 0.92857143, 0.86666667,
        0.8125    , 0.76470588, 0.72222222, 0.68421053, 0.65      ],
       [0.07142857, 0.14285714, 0.21428571, 0.28571429, 0.35714286,
        0.42857143, 0.5       , 0.57142857, 0.64285714, 0.71428571,
        0.78571429, 0.85714286, 0.92857143, 1.        , 0.93333333,
        0.875     , 0.82352941, 0.77777778, 0.73684211, 0.7       ],
       [0.06666667, 0.13333333, 0.2       , 0.26666667, 0.33333333,
        0.4       , 0.46666667, 0.53333333, 0.6       , 0.66666667,
        0.73333333, 0.8       , 0.86666667, 0.93333333, 1.        ,
        0.9375    , 0.88235294, 0.83333333, 0.78947368, 0.75      ],
       [0.0625    , 0.125     , 0.1875    , 0.25      , 0.3125    ,
        0.375     , 0.4375    , 0.5       , 0.5625    , 0.625     ,
        0.6875    , 0.75      , 0.8125    , 0.875     , 0.9375    ,
        1.        , 0.94117647, 0.88888889, 0.84210526, 0.8       ],
       [0.05882353, 0.11764706, 0.17647059, 0.23529412, 0.29411765,
        0.35294118, 0.41176471, 0.47058824, 0.52941176, 0.58823529,
        0.64705882, 0.70588235, 0.76470588, 0.82352941, 0.88235294,
        0.94117647, 1.        , 0.94444444, 0.89473684, 0.85      ],
       [0.05555556, 0.11111111, 0.16666667, 0.22222222, 0.27777778,
        0.33333333, 0.38888889, 0.44444444, 0.5       , 0.55555556,
        0.61111111, 0.66666667, 0.72222222, 0.77777778, 0.83333333,
        0.88888889, 0.94444444, 1.        , 0.94736842, 0.9       ],
       [0.05263158, 0.10526316, 0.15789474, 0.21052632, 0.26315789,
        0.31578947, 0.36842105, 0.42105263, 0.47368421, 0.52631579,
        0.57894737, 0.63157895, 0.68421053, 0.73684211, 0.78947368,
        0.84210526, 0.89473684, 0.94736842, 1.        , 0.95      ],
       [0.05      , 0.1       , 0.15      , 0.2       , 0.25      ,
        0.3       , 0.35      , 0.4       , 0.45      , 0.5       ,
        0.55      , 0.6       , 0.65      , 0.7       , 0.75      ,
        0.8       , 0.85      , 0.9       , 0.95      , 1.        ]])

In [56]:
C=np.linalg.inv(A)

In [79]:
d1=np.linspace(1,10,10)
d2=np.linspace(10,1,10)
d=[*d1, *d2]
d

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 10.0,
 9.0,
 8.0,
 7.0,
 6.0,
 5.0,
 4.0,
 3.0,
 2.0,
 1.0]

In [75]:
Cd=C @ d

In [91]:
S=np.linalg.solve(A,Cd)
S

array([-8.88178420e-16,  9.94759830e-15,  3.52070682e-15, -7.26913457e-14,
        1.59424384e-13, -2.54373524e-13,  2.73454074e-13, -1.12927026e-13,
       -2.48120301e+01,  2.00642393e+01,  3.58137507e+01, -3.00626280e+01,
       -3.73699569e-04, -2.77204400e-04, -2.09968770e-04, -1.61954093e-04,
       -1.26922825e-04, -1.00877939e-04,  9.50593309e+01, -1.00062903e+02])

In [96]:
S=np.round(S,1)
S

array([  -0. ,    0. ,    0. ,   -0. ,    0. ,   -0. ,    0. ,   -0. ,
        -24.8,   20.1,   35.8,  -30.1,   -0. ,   -0. ,   -0. ,   -0. ,
         -0. ,   -0. ,   95.1, -100.1])

array([  -0.,    0.,    0.,   -0.,    0.,   -0.,    0.,   -0.,  -25.,
         20.,   36.,  -30.,   -0.,   -0.,   -0.,   -0.,   -0.,   -0.,
         95., -100.])

In [ ]:
a + b

In [ ]:
A = np.array([[1.,2.],[3.,4.]])
A

In [ ]:
A[1,0]

In [ ]:
A @ b

In [ ]:
B = np.zeros((3,3))
B

In [23]:
B[0,:] = [1,2,3]
B

array([[1., 2., 3.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [24]:
B[:,2] = [7,8,9]
B

array([[1., 2., 7.],
       [0., 0., 8.],
       [0., 0., 9.]])

In [26]:
5**3

125

In [27]:
for i in range(3):
    for j in range(3):
        B[i,j] = (i+1)**2*(j*i+3)**2

B

array([[  9.,   9.,   9.],
       [ 36.,  64., 100.],
       [ 81., 225., 441.]])

In [29]:
b @ A

array([15., 22.])

In [30]:
b

array([3., 4.])

In [31]:
x = np.linalg.solve(A,b)
x

array([-2. ,  2.5])

In [32]:
A @ x

array([3., 4.])

In [ ]:
b

In [ ]:
# 4x4 Identity matrix
np.diag(np.ones(4))

In [ ]:
np.linalg.inv(B)

In [ ]:
np.linalg.solve(B,np.diag(np.ones(3)))

In [ ]:
B @ np.linalg.inv(B)

# The interest example

In [ ]:
A = np.zeros((3,3))
A[0,:] = [1,1,1]
A[1,:] = [0.06,0.08,0.1]
A[2,:] = [-1,0,2]
A

In [ ]:
b = np.array([50,3.7,0])
b

In [ ]:
xyz = np.linalg.solve(A,b)
xyz

In [ ]:
# double check interest equation
30*0.06 + 5*0.08 + 15*0.1

# This is an example of a markdown cell in action!

## This is a sub header

We can do math if you know $\LaTeX$: $ \int_0^\infty f(x) dx $ 

We can make bullets with the star

* Bullet 1
* Bullet again
    * Sub bullet

Here's a list
1. item 1
2. item 2
1. what is going on??? markdown knows what's up!

### Tables too
| Column 1 | Column 2 | Column 3|
|   ---    |  ---     | ---     |
| 1        |  a       |   x     |
| 2        |  b       |  y      |
| 5        |  g       | $\Omega$ |

I will expect a lot of nice formatting in your project submissions!