In [3]:
import numpy as np
from scipy.optimize import minimize

# Q1

In [4]:
def neg_machine(lk):
    machine =  0.05*lk[0]**(2/3)*lk[1]**(1/3)
    return(-machine)

def confun(lk):
    return (100000-12*lk[0]-15*lk[1])

In [5]:
for i in range(1000,5000,1000):
    print('total mahchine: {}'.format(-neg_machine([5557,2223])))
    print('total cost: {}'.format(confun([5555,2222])))

total mahchine: 204.72777024779947
total cost: 10
total mahchine: 204.72777024779947
total cost: 10
total mahchine: 204.72777024779947
total cost: 10
total mahchine: 204.72777024779947
total cost: 10

In [6]:

def confun(lk):
    return (100000-12*lk[0]-15*lk[1])

# now we create a dictionary telling the solver what type of constraint and what the function is
# ineq means inequility, or 'eq',conf --- 2 keys
# ineq means >
constr1 = {'type':'ineq', 'fun': confun}
# then we put all our constraint dictionaries into a list
constraint = [constr1]

In [7]:
tot_machine = minimize(neg_machine,[4000,1000],constraints=constraint,tol=1e-8)
tot_machine.x

array([5555.55875338, 2222.21966396])

In [8]:
# why is this not working
# tot_machine = minimize(neg_machine,[3000,1000],method='L-BFGS-B',constraints=constraint,tol=1e-8)

In [9]:
tot_machine.fun

-204.6684165910318

In [10]:
tot_machine.fun

-204.6684165910318

# Q2

In [11]:
import pandas as pd

In [12]:
df=pd.read_csv('homework4stocks.csv',index_col=0)
df_mean=df.mean(axis=0)
df_var=df.var(axis=0)
df_covar=pd.DataFrame(df.cov())
df

,AA,AAPL,AXP,BA,CAT,CSCO,DD,DIS,EK,FDX,...,KO,MCD,MMM,MO,MRK,MSFT,PG,T,UTX,WMT
Date,,,,,,,,,,,,,,,,,,,,,
Jan-2004,-0.101,0.055,0.075,-0.009,-0.055,0.061,-0.043,0.029,0.107,-0.003,...,-0.030,0.037,-0.070,0.021,0.030,0.010,0.017,-0.011,0.008,0.015
Feb-2004,0.101,0.060,0.031,0.043,-0.030,-0.099,0.035,0.105,0.005,0.021,...,0.015,0.099,-0.009,0.035,0.010,-0.040,0.014,-0.058,-0.032,0.106
Mar-2004,-0.074,0.130,-0.028,-0.053,0.044,0.018,-0.064,-0.058,-0.083,0.095,...,0.012,0.010,0.049,-0.043,-0.074,-0.060,0.023,0.022,-0.063,0.004
Apr-2004,-0.114,-0.047,-0.056,0.039,-0.012,-0.113,0.017,-0.078,-0.015,-0.043,...,0.005,-0.047,0.056,0.017,0.064,0.048,0.014,0.028,-0.001,-0.045
May-2004,0.023,0.088,0.036,0.078,-0.031,0.070,0.014,0.019,0.025,0.023,...,0.015,-0.030,-0.018,-0.133,0.006,0.004,0.019,-0.048,-0.015,-0.020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jan-2010,-0.211,-0.089,-0.067,0.120,-0.077,-0.061,-0.031,-0.084,0.434,-0.061,...,-0.048,0.000,-0.026,0.012,0.045,-0.075,0.022,-0.082,-0.028,0.000
Feb-2010,0.047,0.065,0.014,0.049,0.092,0.083,0.047,0.057,-0.018,0.082,...,-0.028,0.031,0.002,0.013,-0.034,0.022,0.028,-0.022,0.024,0.012
Mar-2010,0.071,0.148,0.085,0.150,0.102,0.070,0.104,0.117,-0.025,0.103,...,0.052,0.045,0.043,0.038,0.023,0.022,0.000,0.042,0.072,0.034
Apr-2010,-0.057,0.111,0.118,-0.002,0.090,0.035,0.070,0.055,0.059,-0.036,...,-0.028,0.058,0.061,0.033,-0.062,0.043,-0.010,0.025,0.018,-0.035
May-2010,-0.131,-0.016,-0.135,-0.109,-0.108,-0.140,-0.082,-0.093,-0.080,-0.072,...,-0.038,-0.045,-0.100,-0.043,-0.039,-0.151,-0.017,-0.068,-0.096,-0.052

In [20]:
def sum_var(x):
    sum=0
    for i in range(len(x)):
        for j in range(len(x)):
            sum+=x[i]*x[j]*df_covar.iloc[i,j]
    return sum

def confun_weight_sum(weight):
    return np.sum(weight)-1

def confun_return(weight):
    return weight.dot(df_mean)-0.01

In [14]:
# now use scipy.optimize to solve the problem
# method should be 'BFGS' or 'L-BFGS-B' or 'SLSQP'
# BFGS for completely unconstrained
# L-BFGS-B for just upper and lower bounds on variables - these are called box constraints
# SLSQP for general constraints
# tol tells the solver how accurate to make the solution
# smaller values of tol take longer to solve but are more accurate

In [21]:
# now we create a dictionary telling the solver what type of constraint and what the function is
# ineq means inequility, or 'eq',conf --- 2 keys
# ineq means >
constr1 = {'type':'eq', 'fun': confun_weight_sum}

constr2 = {'type':'ineq', 'fun': confun_return}

# then we put all our constraint dictionaries into a list
constraint = [constr1,constr2]

In [22]:
starter=list([1/df.shape[1]]*df.shape[1])
bound=list([(0,1)]*df.shape[1])

In [23]:
total_var = minimize(sum_var,starter,constraints=constraint,bounds=bound)#,tol=1e-8)
total_var.x

array([0.00000000e+00, 5.18341627e-02, 0.00000000e+00, 4.35101728e-04,
       2.32908066e-18, 0.00000000e+00, 1.21837601e-18, 4.87309441e-18,
       0.00000000e+00, 5.63235233e-19, 5.03910987e-18, 0.00000000e+00,
       1.33758865e-03, 1.17093835e-17, 0.00000000e+00, 8.54671180e-02,
       6.67796290e-18, 2.84316603e-02, 1.71317855e-01, 0.00000000e+00,
       2.32483453e-01, 0.00000000e+00, 6.70725156e-18, 9.66903133e-02,
       6.52337210e-02, 0.00000000e+00, 2.66769027e-01])

In [24]:
np.sum(total_var.x)

1.0

In [25]:
total_var.fun

0.0008972527655963927

In [26]:
import math
math.sqrt(total_var.fun)

0.029954177765320028

# Q3

In [153]:
df1=pd.read_csv('variable_selection.csv',index_col=0)
df2=pd.concat([df1.iloc[:,1:],df1.iloc[:,:1]],axis=1)
df2.iloc[2,1]

4.411439407393

In [142]:
''''
def sum_err_fun(beta):
    sum_err=0
    for i in range(df2.shape[0]):
        sqr=(np.array(beta).dot(np.hstack(([1],df2.iloc[0,:-1])))-df2.iloc[i,-1:])**2
        sum_err+=sqr
    return sum_err

def non_zero(beta):
    return np.prod(beta[1:])
''''''

In [156]:
def sum_err_fun(beta):
    sum_err=0
    for i in range(df2.shape[0]):
        sqr=(beta[0]+beta[1]*df2.iloc[i,0]+beta[2]*df2.iloc[i,1]+beta[3]*df2.iloc[i,2]-df2.iloc[i,3])**2
        sum_err+=sqr
    return sum_err

def non_zero(beta):
    return beta[1]*beta[2]*beta[3]

In [145]:
# now we create a dictionary telling the solver what type of constraint and what the function is
# ineq means inequility, or 'eq',conf --- 2 keys
# ineq means >

constr1 = {'type':'eq', 'fun': non_zero}

# then we put all our constraint dictionaries into a list
constraint = [constr1]

In [162]:
starter=[100]*4

In [163]:
var_selection = minimize(sum_err_fun,starter,constraints=constraint)#,tol=1e-8)
var_selection.x

array([0.1525321 , 2.99923324, 3.96917994, 0.        ])

# Q4

In [136]:
col=['game','home','visiting','home_score','visiting_score'] 
df4=pd.read_csv('nflratings.csv',names=col, header=None)

In [193]:
def pred_err(x):
    sum_err=0
    for i in range(df4.shape[0]):
        err=(x[df4['home'][i]]+x[0]-x[df4['visiting'][i]]-(df4['home_score'][i]-df4['visiting_score'][i]))**2
        sum_err+=err
    return sum_err

def fun_con(x):
    return np.mean(x[1:])-85

In [194]:
starter=np.array([90]*33+[1])
bound=[(0,1000)]*33

In [195]:
# now we create a dictionary telling the solver what type of constraint and what the function is
# ineq means inequility, or 'eq',conf --- 2 keys
# ineq means >

constr1 = {'type':'eq', 'fun': fun_con}

# then we put all our constraint dictionaries into a list
constraint = [constr1]

starter=np.array([90]*32+[1])

nfl_score = minimize(pred_err,starter,bounds=bound,constraints=constraint)#,tol=1e-8)

In [196]:
nfl_score.x

array([ 2.17274072, 84.52232803, 89.84144619, 92.7456717 , 83.0890177 ,
       88.75996734, 79.8120294 , 87.54400892, 76.88699524, 92.12107967,
       85.63574456, 70.50409809, 92.25559636, 86.98429844, 90.86237313,
       78.43980056, 76.88818762, 86.61524457, 92.06485507, 96.12272425,
       95.6286758 , 85.09890053, 93.14844195, 75.03285018, 90.95814049,
       86.64229973, 67.71997792, 92.60580571, 85.24190224, 74.73185218,
       79.17109606, 82.18828301, 80.13630735])

In [217]:
win=[]

for i in range(df4.shape[0]):

    if nfl_score.x[df4['home'][i]]+nfl_score.x[0]-nfl_score.x[df4['visiting'][i]]>0:
        win.append(df4['home'][i])
    else:
        win.append(df4['visiting'][i])

[25,
 2,
 29,
 21,
 3,
 22,
 20,
 9,
 1,
 24,
 12,
 7,
 18,
 14,
 27,
 19,
 13,
 16,
 20,
 19,
 32,
 27,
 28,
 18,
 9,
 2,
 4,
 25,
 12,
 10,
 1,
 14,
 12,
 13,
 24,
 27,
 18,
 21,
 22,
 32,
 10,
 14,
 3,
 7,
 6,
 19,
 20,
 9,
 31,
 21,
 20,
 19,
 27,
 28,
 32,
 13,
 9,
 14,
 7,
 6,
 17,
 18,
 2,
 5,
 24,
 13,
 15,
 25,
 19,
 9,
 14,
 3,
 21,
 4,
 18,
 22,
 20,
 24,
 1,
 5,
 2,
 19,
 18,
 32,
 15,
 12,
 25,
 7,
 22,
 27,
 14,
 9,
 20,
 7,
 21,
 27,
 12,
 18,
 19,
 5,
 22,
 13,
 24,
 22,
 31,
 12,
 11,
 3,
 9,
 14,
 6,
 5,
 24,
 13,
 27,
 20,
 28,
 19,
 15,
 12,
 29,
 20,
 24,
 14,
 3,
 1,
 2,
 27,
 10,
 28,
 22,
 23,
 17,
 20,
 27,
 18,
 10,
 12,
 5,
 31,
 25,
 19,
 1,
 3,
 5,
 27,
 12,
 25,
 18,
 20,
 19,
 9,
 1,
 3,
 8,
 7,
 24,
 4,
 2,
 13,
 12,
 10,
 9,
 3,
 24,
 27,
 28,
 29,
 17,
 1,
 2,
 22,
 18,
 7,
 14,
 20,
 22,
 10,
 13,
 19,
 20,
 25,
 28,
 9,
 18,
 2,
 5,
 6,
 7,
 27,
 14,
 12,
 25,
 13,
 17,
 24,
 22,
 31,
 32,
 3,
 9,
 14,
 18,
 12,
 19,
 4,
 20,
 28,
 14,
 20,
 24,
 17,
 13,
 12,
 10,
 30,
 1,
 16,
 27,
 3,
 18,
 19,
 22,
 21,
 27,
 5,
 20,
 19,
 17,
 3,
 28,
 24,
 9,
 1,
 22,
 8,
 2,
 12,
 7,
 18,
 25,
 28,
 3,
 31,
 18,
 17,
 19,
 10,
 9,
 2,
 14,
 20,
 6,
 22,
 8,
 12]

In [218]:
a = [['10', '1.2', '4.2'], ['15', '70', '0.03'], ['8', '5', '0']]
df = pd.DataFrame(a, columns=['one', 'two', 'three'])

df4['win'] = np.where((df4['home_score'] > df4['visiting_score']),df4['home'],df4['visiting'])
df4['pred_win']=win

In [222]:
df4[df4['win']==df4['pred_win']]

     game  home  visiting  home_score  visiting_score  win  pred_win
0       1    25        31          13              10   25        25
1       1     2        17          19               7    2         2
2       1    29        26          28               0   29        29
3       1    21        32          23              17   21        21
4       1     3        16          38              24    3         3
..    ...   ...       ...         ...             ...  ...       ...
249    17    30         2          10              20    2         2
252    17    11         6          23              37    6         6
253    17    22         6          37               0   22        22
254    17     8        15          23              17    8         8
255    17     1        12           7              33   12        12

[181 rows x 7 columns]

In [17]:
def neg_profit2(x):
    # x[0] is price
    # x[1] is number manufactured
    
    demand = 3777178*x[0]**(-2.154)
    num_sold = min(demand,x[1])
    revenue = num_sold*x[0]
    cost = 50*x[1]
    
    profit = revenue-cost
    return -profit

In [18]:
print(-neg_profit2([100,180]))
print(-neg_profit2([95,175]))

9000
7875

In [57]:
optProfitNLP2 = minimize(neg_profit2,[5,150],method='L-BFGS-B',bounds=[(0,1000),(0,1000)])
print(-optProfitNLP2.fun)
print(optProfitNLP2.x)

8244.420743900893
[135.92503445  95.9489955 ]

In [49]:
-neg_profit2([optProfitNLP.x[0],3777178*optProfitNLP.x[0]**(-2.154)])

9343.946309337007