# NYC Restaurants Data Analysis

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import matplotlib
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df=pd.read_csv('NYC_Restaurants.csv', dtype=str)

In [3]:
df.shape

(44633, 19)

In [4]:
df[:10]

,Unnamed: 0,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,0,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,11225,7182875005,Hamburgers,12/30/2014,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,8,A,12/30/2014,02/12/2015,Cycle Inspection / Re-inspection
1,1,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,11225,7182875005,Hamburgers,12/30/2014,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,8,A,12/30/2014,02/12/2015,Cycle Inspection / Re-inspection
2,2,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,11225,7182875005,Hamburgers,11/13/2014,Violations were cited in the following area(s).,04H,"Raw, cooked or prepared food is adulterated, c...",Critical,16,NaN,NaN,02/12/2015,Cycle Inspection / Initial Inspection
3,3,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,11225,7182875005,Hamburgers,11/13/2014,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Critical,16,NaN,NaN,02/12/2015,Cycle Inspection / Initial Inspection
4,4,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,11225,7182875005,Hamburgers,11/13/2014,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,16,NaN,NaN,02/12/2015,Cycle Inspection / Initial Inspection
5,5,40356068,TOV KOSHER KITCHEN,QUEENS,97-22,63 ROAD,11374,7188967788,Jewish/Kosher,11/24/2014,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140ยบ F.,Critical,20,Z,11/24/2014,02/12/2015,Cycle Inspection / Re-inspection
6,6,40356068,TOV KOSHER KITCHEN,QUEENS,97-22,63 ROAD,11374,7188967788,Jewish/Kosher,11/24/2014,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Critical,20,Z,11/24/2014,02/12/2015,Cycle Inspection / Re-inspection
7,7,40356068,TOV KOSHER KITCHEN,QUEENS,97-22,63 ROAD,11374,7188967788,Jewish/Kosher,11/24/2014,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,20,Z,11/24/2014,02/12/2015,Cycle Inspection / Re-inspection
8,8,40356068,TOV KOSHER KITCHEN,QUEENS,97-22,63 ROAD,11374,7188967788,Jewish/Kosher,11/24/2014,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,20,Z,11/24/2014,02/12/2015,Cycle Inspection / Re-inspection
9,9,40356151,BRUNOS ON THE BOULEVARD,QUEENS,8825,ASTORIA BOULEVARD,11369,7183350505,American,11/15/2014,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,38,Z,11/15/2014,02/12/2015,Cycle Inspection / Re-inspection

# [Q1, 6 points] Create a unique name for each restaurant.
On the DataFrame created above, add a new column to your DataFrame, called
โRESTAURANTโ, that combines DBA, BUILDING, STREET, ZIPCODE,
and BORO fields. For example, โWENDYโS 469 FLATBUSH AVENUE
11225 BROOKLYNโ. Print the first 10 values of the RESTAURANT column
of your DataFrame.

In [5]:
df['RESTAURANT']=df['DBA']+' '+df['BUILDING']+' '+df['STREET']+' '+df['ZIPCODE']+' '+df['BORO']
df['RESTAURANT'][:10]

0           WENDY'S 469 FLATBUSH AVENUE 11225 BROOKLYN
1           WENDY'S 469 FLATBUSH AVENUE 11225 BROOKLYN
2           WENDY'S 469 FLATBUSH AVENUE 11225 BROOKLYN
3           WENDY'S 469 FLATBUSH AVENUE 11225 BROOKLYN
4           WENDY'S 469 FLATBUSH AVENUE 11225 BROOKLYN
5        TOV KOSHER KITCHEN 97-22 63 ROAD 11374 QUEENS
6        TOV KOSHER KITCHEN 97-22 63 ROAD 11374 QUEENS
7        TOV KOSHER KITCHEN 97-22 63 ROAD 11374 QUEENS
8        TOV KOSHER KITCHEN 97-22 63 ROAD 11374 QUEENS
9    BRUNOS ON THE BOULEVARD 8825 ASTORIA BOULEVARD...
Name: RESTAURANT, dtype: object

# [Q2, 6 points] How many restaurants are included in the data?
Careful now:

โข A โSubwayโ in one particular address (i.e., building, street, zipcode,
and boro) counts as one restaurant; donโt combine all Subways into
one restaurant!

โข The data can have multiple violations for the same restaurant

In [6]:
num_restaurants=len(df['RESTAURANT'].unique())

print('There are {} restaurants included in the data. \n'.format(len(x)))

NameError: name 'x' is not defined

# [Q3, 6 points] How many chains are there?
Let us define a chain to be the same restaurant name occurring in at least two different 
(building, street, zipcode, boro) addresses (i.e., one DBA with multiple restaurant locations).

Youโll see multiple versions of the name โDUNKIN DONUTSโ. Just act
as if they are different chains.

In [ ]:
#One way to do it
#changing original dataframe to not have duplicate restaurants
df=df.drop_duplicates(subset='RESTAURANT')
vc=df['DBA'].value_counts()

vc=dict(vc)

chain_count=0
for k,v in vc.items():
    if v>1:
        chain_count+=1

print('There are {} chain restaurants.'.format(chain_count))

In [ ]:
# Another way to do it
tmp_df = df[['DBA', 'RESTAURANT']].drop_duplicates()['DBA'].value_counts()
num_chains = len(tmp_df[tmp_df.values > 1])

print('There are {} chain restaurants.'.format(num_chains))

# [Q4, 6 points] Plot a bar graph of the top 20 most popular chains.
We already have the chains from the previous problem. Count the number
of restaurants for each chain as a measure of its popularity

In [ ]:
vc=df['DBA'].value_counts()

vc.iloc[:20].plot(kind='bar')

# [Q5, 6 points] What fraction of all restaurants are chain restaurants? You should think of a restaurant as being one restaurant at one location.

 So โWendyโs 5th Streetโ and โWendyโs on 10th Streetโ are two
different restaurants. Essentially a restaurant is what you defined in Q1.

In [ ]:
chain_frac = num_chains/num_restaurants

print('{:.2%} of all restaurants are chain restaurants. \n'.format(chain_frac))

# [Q6, 6 points] Plot the number of non-chain restaurants in each boro

First, we need to figure out all the non-chain restaurants, then select
out only those restaurants, and finally plot the number of such restaurants
by boro. Make sure to look at the plot; we donโt want to see... oh... the
โmissingโ boro.

In [ ]:
#dropping all duplicates to get nonchains as a dataframe
nonchains = df.drop_duplicates(subset = 'DBA', keep = False)

#removing 'missing' column
nonchains = nonchains[nonchains['BORO'] != 'Missing']

nonchains['BORO'].value_counts().plot(kind='bar')
nonchains['BORO'].value_counts()

# [Q7, 8 points] Plot the fraction of non-chain restaurants in each boro. 

The boro with the most non-chain restaurants might just be the
boro with the most restaurants in general. If we want to find the boro that
attracts the most โindependentโ restauranteurs, we must divide the number
of non-chain restaurants by the total number of restaurants in the boro. Plot
this.

Is the boro with the most independent restaurants also the one with the
highest ratio of independent restaurants?

In [ ]:
tmp_df = df[df['BORO'] != 'Missing']

print((nonchains['BORO'].value_counts() / tmp_df['BORO'].value_counts()).sort_values(ascending=False))

(nonchains['BORO'].value_counts() / tmp_df['BORO'].value_counts()).sort_values(ascending=False).plot(kind='bar')

# [Q8, 6 points] Plot the popularity of cuisines. 

Which cuisines are the most well-represented among all restaurants? Define the popularity of a
cuisine as the number of restaurants serving that cuisine. Plot the popularity
of the top 20 cuisines.

In [ ]:
df["CUISINE DESCRIPTION"].value_counts()[:20].plot(kind="bar")

# [Q9, 9 points] Plot the cuisines among restaurants which never got cited for violations.
 
Ideally, you should explore and see what happens
when there is no violation, but here I will just tell you: the โVIOLATION
CODEโ field is missing.

First, find the restaurants that were never cited for a code violation. The
compute the popularity of each cuisine among these โcleanโ restaurants. Plot
the popularity of the top-20 among these cuisines.

In [ ]:
no_vio = df[df['VIOLATION CODE'].isnull()]

no_vio['CUISINE DESCRIPTION'].value_counts()[:20].plot(kind='bar')

# [Q10, 6 points] What cuisines tend to be the โcleanestโ?

โข Select all cuisines for which there were at least 20 restaurants representing that cuisine.

โข For each such cuisine, compute the ratio of the counts in Q9 to Q8.

This is the ratio of restaurants that never got cited, versus total number
of restaurants, for each cuisine.

โข Find the top-10 cuisines with the highest ratios; these are that cuisines
whose restaurants are โmost likely to be clean.โ

In [ ]:
cuisine_series = df['CUISINE DESCRIPTION'].value_counts()

def is_top_cuisine(cuisine):
    return cuisine_series[cuisine]>=20

mask = df['CUISINE DESCRIPTION'].map(is_top_cuisine)
mask2 = df['VIOLATION CODE'].isnull()

tmp_series = df[mask & mask2]['CUISINE DESCRIPTION'].value_counts()
tmp_series2 = df[mask]['CUISINE DESCRIPTION'].value_counts()
(tmp_series/tmp_series2).sort_values(ascending=False)[:10].plot(kind="bar")

# [Q11, 8 points] What are the most common violations in each borough? 

Create a table of the number of times each violation description
was observed in each borough, and figure out the most common violation
description for each borough.

To create the table, check out the crosstab function. We will see a more
general version of this when we discuss groupby in class.

In [ ]:
vio_boro = pd.crosstab(df['VIOLATION DESCRIPTION'],df[df['BORO'] != 'Missing']['BORO']) #second boro tells what column
vio_boro.idxmax()

In [ ]:
###I did it this way just to practice dataframe merge!!!

#Get the frequency of violation per boro

vio=df[['BORO','VIOLATION CODE']]
vio=vio.dropna()
vio.sort_values(['BORO','VIOLATION CODE'])
x=pd.crosstab(vio['VIOLATION CODE'],vio['BORO'])
#x=x.transpose()
x=pd.DataFrame(x.idxmax())

x['BORO']=x.index


#Only pick the 2 columns from original dataframe - the purpose is to link the code with violation description
#since the question is asking about the 'violation description'

y=df[['VIOLATION CODE', 'VIOLATION DESCRIPTION']]

y=y.drop_duplicates()

#Get violation description from violation code

get_vio_code=x.merge(y,
                     left_on=0,
                    right_on='VIOLATION CODE',)

max_vio=get_vio_code[['BORO', 'VIOLATION DESCRIPTION']]
max_vio=max_vio.drop(max_vio.index[[-1]])

print('\nThe max violation for each borough is: \n')
print(max_vio)

# [Q12, 9 points] What are the most common violations per borough,after normalizing for the relative abundance of each violation?


Hopefully, the answer to the previous question left you unsatisfied, because
some violations are just very common, irrespective of borough. A better
approach would be to normalize the violation counts, as follows.

โข Get overall frequencies: Figure out how common each violation is, over
the entire dataset; letโs call this violationFrequency.

โข Normalize: Consider the table of number of violations by boro that
you created for the previous question. For each borough, divide the
number of violations of each type by the total number of violations for
that type; i.e., divide the series of violations by violationFrequency.
We want to do this for each borough.

โข Find the biggest violations: Now, after this normalization, for each
borough, figure out the most common violation description.

In [ ]:
vio=df[['BORO','VIOLATION DESCRIPTION']]
vio=vio.dropna()
vio.sort_values(['BORO','VIOLATION DESCRIPTION'])
violationFrequency=vio['VIOLATION DESCRIPTION'].value_counts()
violationFrequency=list(violationFrequency)


x=pd.crosstab(vio['VIOLATION DESCRIPTION'],vio['BORO'])
x=x.astype(int)

#Get violation frequencies
x['violationFrequency']= x.iloc[:,:].sum(axis=1)


#Normalize
norm_vio=x.iloc[:,:-1].div(x['violationFrequency'], axis=0)
#Find max
mx=norm_vio.idxmax()
mx=mx.drop(mx.index[[3]])

print ('The most common violation in each boro after normalize to total of each violation is: \n')
print (mx)

# [Q13, 8 points] How many phone area codes correspond to a single zipcode?


The first three digits of the restaurant phone numbers are their
area codes. The area codes do not generally align with zip codes, but some
area codes are only for a single zip code. You must figure out how many area
codes have this property.

   โข To extract the first 3 characters of the phone number, recall that strings
are pretty similar to lists.

In [ ]:
df[:5]

In [ ]:
df['AREA CODE'] = df['PHONE'].astype(str).str[:3]

x_tab = pd.crosstab(df['AREA CODE'],df['ZIPCODE'])
x_tab['SUM'] = x_tab.sum(axis=1)
x_tab[x_tab['SUM']==1]['SUM']

area_code_list=x_tab.index

area_code_list=list(area_code_list)

err_in_data=['000','___']

area_code_list = [c for c in area_code_list if c not in err_in_data]

print ('There are total of {} phone area codes that only appear in ONE zipcode!\n'.format(len(area_code_list)))

print ('The ara code list includes {}'.format(area_code_list))

# [Q14, 10 points] Find common misspellings of street names 

Some times, itโs Avenue, and sometimes, itโs Ave. We will try to come up with an
automated way to find common misspellings. The idea is the following: if
Ave and Avenue are the same, they should show up often in similar-sounding
street names, e.g., Lexington Ave and Lexington Avenue.

โข Create a new column, called STREET TYPE, which is the the last word
in the name of the street. For example, if the street is โAstoria Boulevardโ, the street type should be โBoulevardโ.

In [ ]:
def find_lst_word(street):
    str_name=street.split()
    lst_word=str_name[-1]
    return lst_word


df['STREET TYPE']=df['STREET'].apply(find_lst_word)

df['STREET TYPE']

โข Create another column, called STREET BASE, which contains everything
but the last word in the name of the street. For example, if the street
is โAstoria Boulevardโ, the street base should be โAstoriaโ.

In [ ]:
def find_first_words(street):
    str_name=street.split()
    get_words=str_name[:-1]
    first_words=' '.join(get_words)
    return first_words

find_first_words('resg sdfasd sdfadsf')


df['STREET BASE']=df['STREET'].apply(find_first_words)

df[['STREET','STREET BASE','STREET TYPE']][20:40]

Create a third column, called STREET BASE & ZIP, that combines the
street base and the zipcode.

In [ ]:
df['STREET BASE & ZIP']=df['STREET BASE']+' '+df['ZIPCODE']
df[['STREET','STREET BASE','STREET TYPE','STREET BASE & ZIP']][:20]
df.shape

Create a table containing just these three columns, and remove any
duplicates or instances where street base is empty. This table now
contains unique street names, along with the street type.

In [ ]:
st=df[['STREET BASE','STREET TYPE','STREET BASE & ZIP']].dropna(subset=['STREET BASE'])
print(st.shape)
st=st.drop_duplicates(subset=['STREET BASE','STREET TYPE'])
print(st.shape)

In [ ]:
st[:10]

Merge this table with itself, on the STREET BASE & ZIP column. Thus,
in the new merged tabled, we will have two STREET TYPE fields for
each street base and zipcode. For example, if both Lexington Ave and
Lexington Avenue exist in the same zipcode, we will get a row for the
street base Lexington and the two street types Ave and Avenue

In [ ]:
merg_st=st.merge(st,left_on='STREET BASE & ZIP',right_on='STREET BASE & ZIP')
merg_st.sort_values('STREET BASE_x')[-20:]

โข From the merged table, select only the rows where the street types are
different

In [ ]:
mask=merg_st['STREET TYPE_x']!=merg_st['STREET TYPE_y']

merg_st[mask][:20]

Now, do a cross-tabulation of the two distinct street types (check out
the crosstab function in Pandas). This gives us the number of times
Ave and Avenue were used with the same STREET BASE & ZIP.

In [ ]:

x_tbl=pd.crosstab(merg_st['STREET BASE & ZIP'],merg_st['STREET TYPE_x'])
print(x_tbl.shape)
x_tbl[160:170]

From this cross-tabulation table, find the most commonly street type
that occurs with each of the following: AVE, ST, RD, PL, BOULEARD,
and BULEVARD

In [ ]:
x=pd.DataFrame(x_tbl)

x=x[['AVE', 'ST', 'RD', 'PL', 'BOULEARD','BULEVARD']]

print ('These are the most commonly occuring street names with "AVE, ST, RD, PL, BOULEARD, and BULEVARD: "')

x.idxmax(axis=0)